.intro-header {
    height: unset !important;
  }

  .view {
    height: 100vh !important;
      /* The image used */
  background: white;
  /* Full height */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  .navbar:not(.top-nav-collapse) {
    background: transparent !important;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background: #78909c !important;
    }
  }

  h1 {
    letter-spacing: 8px;
  }
  h5 {
    letter-spacing: 3px;
  }
  .hr-light {
    border-top: 3px solid #fff;
    width: 80px;
  }
  @media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
      height: 700px;
    }
  }

  body,
html {
  height: 100%;
}

.bg-none {
    background: transparent;
}

@media (min-width: 740px) {
.avatar {
  width: 250px;
  }
  .card {
    top:90px;
  }
}
@media screen and (max-width: 600px) {
  p {
    font-size: 3.5vw;
  } 
  .card {
    top:60px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  p {
    font-size: 3.5vw;
  } 
  .card {
    top:60px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  p {
    font-size: 2vw;
  } 
  .card {
    top:60px;
  }
}