<div>
<header class="intro-header">
  <app-nav></app-nav>
</header>

      <div class="container flex-center">
        <div class="row pt-2 mt-3 w-100">
          <div class="col-md-12">
                <mdb-card class="testimonial-card">
                    <!--Bacground color-->
                    <div class="card-up peach-gradient">
                    </div>
      
                    <!--Avatar-->
                    <div class="avatar mx-auto">
                      <img src="assets/nathalie.jpg" class="rounded-circle" id="nathalie">
                    </div>
      
                    <mdb-card-body>
                      <!--Name-->
                      <mdb-card-title>
                        <h4><mdb-icon fas icon="spa"></mdb-icon> Nathalie Le Ny <mdb-icon fas icon="spa"></mdb-icon></h4>
                      </mdb-card-title>
                      <hr>
                      <!--Quotation-->
                      <p>
                        Thérapeute corporelle en soins Ayurvédique, je suis une personne passionnée. J'aime la vie
                        et les échanges riches que nous procurent toutes les rencontres qu'elle met sur nos chemins,
                        les grandes balades et la cuisine dans laquelle on peut partager nos connaissances dans des
                        moments conviviaux, tout en régalant nos papilles. La cuisine tient une grande place en
                        Ayurveda et peut être la source de nombreux bienfaits lorsqu'elle est adaptée à notre constitution.
                        J'ai découvert l'Ayurveda lors d'un reportage TV. Je me suis tout de suite sentie appelée par
                        cette médecine holistique qui prend en considération l'humain dans son ensemble physique,
                        émotionnel et psychique.</p><br>
                      <p>
                        Une nouvelle vie s'est alors offerte à moi : l'Ayurveda, ses massages et sa philosophie.
                        Très rapidement j'ai trouvé l'école qui me correspondait après avoir expérimenté sur moi-
                        même les bienfaits de l'Abhyanga et de la méthode d'Atreya Smith.</p><br>
                      <p>
                        Cette formation a été une révélation pour moi et ma vie a ainsi pris un nouveau tournant.
                        Après avoir travaillé durant plusieurs années dans une association ; après avoir traversé de
                        gros soucis de santé durant plusieurs années, j'ai décidé en 2019 d'aller au plus près de mes
                        valeurs, de m'investir totalement dans des missions thérapeutiques et mettre ainsi mon
                        expérience de vie au service de la "Vie". Suivre mon Dharma, "le juste chemin" est ce qui
                        m'anime et qui, je le souhaite, trouvera également sens à vos yeux.</p>
                    </mdb-card-body>
                  </mdb-card>
            </div>
          </div>
        </div>
</div>