<!-- Jumbotron -->
<div class="card card-image d-flex justify-content-center" style="background-image: url(assets/DSC00509.jpg);">

  <div class="container flex-center" id="top-section">
    <div class="row pt-2 mt-3 w-100">
      <div class="col-md-12">
        <div class="text-center">
          <mdb-card class="testimonial-card z-depth-5">
            <!--Bacground color-->
            <div class="card-up peach-gradient">
            </div>

            <!--Avatar-->
            <div class="avatar mx-auto">
              <img src="assets/nathalie.jpg" alt="Photo de Nathalie" class="rounded-circle" id="nathalie">
            </div>
            <!--Name-->
            <mdb-card-title>
              <h4>
                <mdb-icon fas icon="spa"></mdb-icon> Nathalie Le Ny <mdb-icon fas icon="spa"></mdb-icon>
              </h4>
            </mdb-card-title>
            <mdb-card-body>
              <hr>
              <!--Quotation-->
              <p class="font-weight-bold">
                49 ans, l'année du changement !
              </p><br>
              <p>
                Après une vie professionnelle bien remplie dans le milieu associatif et après avoir traversé de gros
                soucis
                de santé, j'ai décidé d'aller au plus près de mes valeurs, de suivre mon "Dharma", en m'investissant
                totalement dans des missions thérapeutiques. J'aspire à mettre mon expérience au service de la "Vie".
              </p><br>
              <p>
                Thérapeute corporelle en soins ayurvédiques depuis deux ans, j'ai découvert l'Ayurveda avec passion. Je
                me
                suis tout de suite sentie appelée par cette médecine holistique qui prend en considération l'humain dans
                son ensemble physique, émotionnel et psychique.
              </p><br>
              <p>
                Une nouvelle vie s'est alors offerte à moi : l'Ayurveda, ses massages et sa philosophie.
                J'ai choisi l'enseignement de "L'Institut Vaidya Atreya Smith" créée en 1998 après en avoir expérimenté
                les bienfaits sur moi-même.
                Cette formation a été une révélation pour moi : j'ai donc décidé d'ouvrir mon cabinet : "Dharma soins
                ayurvédiques".
              </p><br>
              <p class="font-weight-bold text-justify">
                Ma formation détaillée :
              </p><br>
              <p class="text-justify">
                <strong>2017 - 2018 :</strong> Formation massage ayurvédique méthode Vaidya Atreya Smith*<br>
                <strong>2019 :</strong> Formation Dynacharia<br>
                <strong>2019 :</strong> Formation massage femme enceinte/bébé méthode Vaidya Atreya Smith*<br>
              </p><br>
              <hr>
              <p>
                *Cette méthodologie a été développée par Vaidya Atreya Smith après une vingtaine d’années de travail
                clinique en Inde et en Europe. Elle intègre des aspects subtils qui en font une thérapie efficace.
              </p><br>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Jumbotron -->

<!-- Back to navbar button -->
<div class="fixed-action-btn invisible" id="scrollButton" style="bottom: 45px; right: 24px;">
  <a mdbBtn floating="true" size="lg" color="dark" class="waves-light" #button mdbWavesEffect mdbPageScroll
    href="#top-section">
    <mdb-icon fas icon="arrow-up"></mdb-icon>
  </a>
</div>