<div class="container flex-center" id="top-section">
    <div class="row pt-2 mt-3 w-100">
        <div class="col-md-12">
            <!-- Section: Contact v.1 -->
            <section class="my-5">

                <!-- Section heading -->
                <h2 class="h1-responsive font-weight-bold text-center mt-10">Contactez moi</h2>
                <!-- Section description -->
                <p class="text-center w-responsive mx-auto pb-5">N'hésitez pas à m'appeler pour prendre rendez-vous.</p>


                <!--Google map-->
                <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 400px">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2680.283662547703!2d7.315030415825696!3d47.79533678291355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47919cc5802a26b7%3A0xd6abd7f8daa9970a!2s24%20Rue%20de%20l&#39;Oranger%2C%2068260%20Kingersheim%2C%20France!5e0!3m2!1sfr!2ssg!4v1569156851591!5m2!1sfr!2ssg"
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
                <!-- Buttons-->
                <div class="row text-center">
                    <div class="col-md-4">
                        <a class="btn-floating blue accent-1">
                            <i class="fas fa-map-marker-alt"></i>
                        </a>
                        <p>24 rue de l'Orange</p>
                        <p class="mb-md-0">68260 Kingersheim</p>
                    </div>
                    <div class="col-md-4">
                        <a class="btn-floating blue accent-1">
                            <i class="fas fa-phone"></i>
                        </a>
                        <p>09 71 55 31 27</p>
                    </div>
                    <div class="col-md-4">
                        <a class="btn-floating blue accent-1">
                            <i class="fas fa-envelope"></i>
                        </a>
                        <p class="mb-0">nathalie@dharma-ayurveda.fr</p>
                    </div>
                </div>


            </section>
        </div>
    </div>
</div>
<!-- Section: Contact v.1 -->

<!--

        <div class="col-lg-5 mb-lg-0 mb-4">

            <div class="card">
                <form #f="ngForm" class="card-body">

                    <div class="form-header orange accent-2">
                        <h3 class="mt-2"><i class="fas fa-envelope"></i> Ecrivez moi :</h3>
                    </div>
                    <p class="dark-grey-text">Ces informations sont importantes pour vous recontacter.</p>

                    <div class="md-form">
                        <i class="fas fa-user prefix grey-text"></i>
                        <input type="text" id="form-name" name="name" [(ngModel)]="ContactMe_current.name"
                            class="form-control">
                        <label for="form-name">Votre nom</label>
                    </div>
                    <div class="md-form">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="text" id="form-email" name="email" [(ngModel)]="ContactMe_current.email"
                            class="form-control">
                        <label for="form-email">Votre email</label>
                    </div>
                    <div class="md-form">
                        <i class="fas fa-tag prefix grey-text"></i>
                        <input type="text" id="form-Subject" name="subject" [(ngModel)]="ContactMe_current.subject"
                            class="form-control">
                        <label for="form-Subject">Sujet du mail</label>
                    </div>
                    <div class="md-form">
                        <i class="fas fa-pencil-alt prefix grey-text"></i>
                        <textarea id="form-text" class="form-control md-textarea" name="message"
                            [(ngModel)]="ContactMe_current.message" rows="3"></textarea>
                        <label for="form-text">Votre message</label>
                    </div>
                    <div class="text-center">
                        <button (click)="SendMessage(f)" class="btn amber accent-1">Envoyer !</button>
                    </div>
                </form>
            </div>

        </div>-->