<!-- Section: Contact v.1 -->
<section class="my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center mt-10">Contacte moi</h2>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto pb-5">N'hésitez pas à m'appeler ou à m'envoyer un message grâce au
        forumaire ci-dessous.</p>

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-lg-5 mb-lg-0 mb-4">

            <!-- Form with header -->
            <div class="card">
                <form #f="ngForm" class="card-body">
                    <!-- Header -->
                    <div class="form-header blue accent-1">
                        <h3 class="mt-2"><i class="fas fa-envelope"></i> Write to us:</h3>
                    </div>
                    <p class="dark-grey-text">We'll write rarely, but only the best content.</p>
                    <!-- Body -->
                    <div class="md-form">
                        <i class="fas fa-user prefix grey-text"></i>
                        <input type="text" id="form-name" name="name" [(ngModel)] = "ContactMe_current.name" class="form-control">
                        <label for="form-name">Your name</label>
                    </div>
                    <div class="md-form">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="text" id="form-email" name="email" [(ngModel)] = "ContactMe_current.email" class="form-control">
                        <label for="form-email">Your email</label>
                    </div>
                    <div class="md-form">
                        <i class="fas fa-tag prefix grey-text"></i>
                        <input type="text" id="form-Subject" name="subject" [(ngModel)] = "ContactMe_current.subject" class="form-control">
                        <label for="form-Subject">Subject</label>
                    </div>
                    <div class="md-form">
                        <i class="fas fa-pencil-alt prefix grey-text"></i>
                        <textarea id="form-text" class="form-control md-textarea" name="message" [(ngModel)] = "ContactMe_current.message" rows="3"></textarea>
                        <label for="form-text">Your message</label>
                    </div>
                    <div class="text-center">
                        <button (click) = "SendMessage(f)"class="btn btn-light-blue">Submit</button>
                    </div>
                </form>
            </div>
            <!-- Form with header -->

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-7">

            <!--Google map-->
            <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 400px">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21445.04481779899!2d7.294297936133917!3d47.78861050221392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47919cc9dcf71545%3A0x40a5fb99a3936f0!2sKingersheim!5e0!3m2!1sfr!2sfr!4v1562876479267!5m2!1sfr!2sfr"
                    frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <!-- Buttons-->
            <div class="row text-center">
                <div class="col-md-4">
                    <a class="btn-floating blue accent-1">
                        <i class="fas fa-map-marker-alt"></i>
                    </a>
                    <p>Kingersheim, 68260</p>
                    <p class="mb-md-0">France</p>
                </div>
                <div class="col-md-4">
                    <a class="btn-floating blue accent-1">
                        <i class="fas fa-phone"></i>
                    </a>
                    <p>+ 01 234 567 89</p>
                    <p class="mb-md-0">Lundi - Dimanche, 8:00-22:00</p>
                </div>
                <div class="col-md-4">
                    <a class="btn-floating blue accent-1">
                        <i class="fas fa-envelope"></i>
                    </a>
                    <p>joancontactme@gmail.com</p>
                    <p class="mb-0">joancontactme@gmail.com</p>
                </div>
            </div>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

</section>
<!-- Section: Contact v.1 -->

<mdb-card>

    <mdb-card-header class="info-color white-text text-center py-4">
        <h5>
            <strong>Contact us</strong>
        </h5>
    </mdb-card-header>

    <mdb-card-body class="px-lg-5 pt-0">

        <form class="text-center" style="color: #757575;" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

            <div class="md-form mt-3">
                <input type="text" formControlName="contactFormName" id="materialContactFormName" class="form-control"
                    mdbInput>
                <label for="materialContactFormName">Name</label>
            </div>

            <div class="md-form">
                <input type="email" formControlName="contactFormEmail" id="materialContactFormEmail"
                    class="form-control" mdbInput>
                <label for="materialContactFormEmail">E-mail</label>
            </div>

            <span>Subject</span>
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <mdb-select formControlName="contactFormSubjects" [options]="optionsSelect"
                        placeholder="Choose your option"></mdb-select>
                </div>
            </div>

            <div class="md-form">
                <textarea type="text" formControlName="contactFormMessage" id="materialContactFormMessage"
                    class="form-control md-textarea" mdbInput></textarea>
                <label for="materialContactFormMessage">Message</label>
            </div>

            <div class="row">
                <div class="col-md-6 mx-auto d-flex justify-content-center">
                    <mdb-checkbox formControlName="contactFormCopy">Send me a copy of this message</mdb-checkbox>
                </div>
            </div>

            <button mdbBtn color="info" outline="true" rounded="true" block="true" class="z-depth-0 my-4 waves-effect"
                mdbWavesEffect type="submit" [disabled]="disabledSubmitButton">Send</button>

        </form>

    </mdb-card-body>

</mdb-card>