<!-- Jumbotron -->
<div class="card card-image d-flex justify-content-center"
  style="background-image: url(assets/DSC00901.jpg);">

  <div class="text-white text-center py-5 px-4">
    <div class="py-5">

      <mdb-card cascade="true" wider="true">

        <div class="view view-cascade gradient-card-header peach-gradient">
          <h2 class="card-header-title mb-2">Temoignage de Cindy </h2>
          <p class="">
            (Massage effectué pendant la 30ème semaine de grossesse)
          </p>

        </div>

        <mdb-card-body cascade="true" class="text-justify">

          <mdb-card-text>
            <p>
              <strong>Sensations pendant le massage :</strong>
            </p>
            <p>
              "Je me sentais relaxée, j’avais cette sensation de lourdeur à certains endroits : les jambes , les bras
              ,
              les doigts et au fur et à mesure j’ai senti ce poids qui s’était enlevé. Et d’un coup, je me suis sentie
              légère comme une plume et moralement tellement mieux, surtout autour de la cheville cela m’a vraiment
              détendue. Je sentais mon bébé apprécier tout autant et il se mettait bien en surface pour lui aussi
              profiter du
              massage."
            </p><br>
            <p>
              <strong>Le soir même :</strong>
            </p>
            <p>
              "Je me suis sentie, bien moralement et mentalement, toute légère, plus d'effets de jambes lourdes, plus
              de
              douleurs au bas du dos . J'avais l'impresion que je venais de me lever après une bonne nuit de sommeil."
            </p><br>
            <p>
              <strong>Le lendemain :</strong>
            </p>
            <p>
              "Toujours bien moralement je ne me sentais pas du tout stressée et vraiment heureuse de commencer ma
              journée."
            </p><br>
            <p>
              <strong>En conclusion :</strong>
            </p>
            <p>
              "Ce massage m’a permis de me relâcher et de me faire comprendre de bien écouter mon corps et ainsi
              sentir
              toute cette énergie positive que me procure le massage, autant pour moi que pour mon bébé.
            </p>
          </mdb-card-text>

        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->
    </div>
  </div>
</div>
<!-- Jumbotron -->