@media screen and (max-width: 10000px) {
  .navbar {
    background: black;
  }
  .navbar > .container {
    max-width: 3000px;
  }
}

.controls-top {
  display: none !important;
}

@media (max-width: 575px) {
  .btn-floating.btn-lg {
    width: 40px;
    height: 40px;
    visibility: visible !important;
  }
  .btn-floating.btn-lg i {
    line-height: 40px;
  }
}
