<!-- Intro Section -->
<div class="view jarallax" data-jarallax='{"speed": 0.2}'
  style="background-image: url(https://cdn.pixabay.com/photo/2018/11/05/09/53/massage-3795691_960_720.jpg);background-repeat:no-repeat;">
  <div class="full-bg-img mask rgba-black-light">
    <div class="container flex-center">
      <div class="row pt-5 mt-3 w-100">
        <div class="col-md-12">
          <div class="text-center">
            <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s">
              <strong>Dharma Soins et Massages Ayurvediques</strong></h2>
            <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
            <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Bienvenue sur mon
                site</strong></h5>
            <a mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s"
              mdbWavesEffect mdbPageScroll href="#viewAutoHeight">Les massages</a>
            <a mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s"
              mdbWavesEffect mdbPageScroll href="#goToAyurveda">L'Ayurveda</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Main Navigation-->

<!-- Jumbotron -->
<div class="jumbotron text-center white lighten-5" id="goToAyurveda">
  <div>
    <img src="https://svgsilh.com/svg/1477050.svg" class="img-fluid wow fadeInDown" alt="Design Image"
      style="width: 13vw">
  </div>

  <!-- Title -->

  <h2 class="card-title h2">Qu'est-ce que l'Ayurveda ?</h2>

  <!-- Grid row -->
  <div class="row d-flex justify-content-center">

    <!-- Grid column -->
    <div class="col-xl-7 pb-2">

      <p class="card-text">
        L'Ayurveda qui siginifie "connaissance de la vie", est une médecine traditionnelle indienne vieille de
        plus de 5000 ans. C'est un système de santé holistique reconnu par l'OMS (Organisme Mondial de la Santé)
        depuis 1982 dont le rôle est de conserver ou d'apporter l'harmonie du corps, de l'esprit et de l'âme, et
        de le mettre en accord avec les lois de la nature et de l'univers.
        Elle prend en compte l'humain dans sa globalité et l'envisage dans son environnement au sein de
        l'univers.</p>
      <p class="card-text">La base de l'Ayurvda repose sur le principe des 5 éléments qui créent la réalité universelle
        : l'air,
        l'espace, le feu, l'eau et la terre.
        Ces 5 éléments qui constituent également notre corps physique se retrouvent dans trois forces vitales,
        trois bioénergies appelées doshas et qui sont Vata pour l'air et l'espace, Pitta pour le feu et l'eau et
        Kapha pour l'eau et la terre.</p>
      <p class="card-text">Ces doshas sont responsables de tous les processus physiologiques et psychologiques du corps
        et de
        l'esprit. Ils sont présents dans des proportions plus ou moins importantes selon chaque individu, c'est
        ce qui fait de chaque personne un être unique. C'est de l'équilibre et de l'harmonie entre ces doshas
        que dépendent notre bien-être et notre santé.
      </p>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- Jumbotron -->


<!-- Jumbotron -->
<div class="card card-image d-flex justify-content-center"
  style="background-image: url(https://images.pexels.com/photos/275752/pexels-photo-275752.jpeg?cs=srgb&dl=massage-physio-physiotherapy-275752.jpg&fm=jpg);">

  <div class="text-white text-center py-5 px-4 mask rgba-black-strong">
    <div class="py-5">

      <!-- Content -->
      <h2 class="card-title h2 my-4 py-2 wow fadeInDown">Ses bien faits</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">
        L'Ayurveda nous aide à renforcer ou maintenir cet équilibre en adoptant des gestes et des soins
        variés dans l'alimentation, les massages, les plantes, le yoga, la méditation et les soins d'hygiène.</p>
      <p>La pratique du massage tient une grande place dans la médecine ayurvédique, c'est un véritable outil
        thérapeutique qui participe à garder un état de santé en harmonie. Tout massage est précédé d'un
        questionnaire visant à définir le massage et l'huile les plus appropriés au profil doshique de la
        personne.
        L'Ayurveda est un mode de vie, un état d'esprit, une manière d'être à soi, aux autres et à
        l'univers.</p>
    </div>
  </div>
</div>
<!-- Jumbotron -->

<div class="view jarallax mb-5" data-jarallax='{"speed": 0.2}' style="background-color: white;" id="viewAutoHeight">
  <div class="full-bg-img">
    <div class="container flex-center">
      <div class="row pt-2 mt-3 w-100">
        <div class="col-md-12">
          <div class="text-center">
            <h2 class="h1 h1-reponsive dark-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s">
              <strong>Les massages</strong></h2>
            <hr class="hr-light wow fadeInDown" data-wow-delay="0.4s">
            <app-carousel-component></app-carousel-component>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>