.view {
  height: 101vh;
  /* The image used */
  background: white;
  /* Full height */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.viewHeight {
  height: 50vh !important;
  /* The image used */
  background: white;
  /* Full height */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  letter-spacing: 0px;
}
h5 {
  letter-spacing: 3px;
}
.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}
@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 700px;
  }
}

body,
html {
  height: 100%;
}

.bg-none {
  background: transparent;
}

// @media screen and (min-width: 601px) {
//   p {
//     font-size: 1vw;
//   }
// }

// /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
// @media screen and (max-width: 600px) {
//   p {
//     font-size: 3.5vw;
//   }
//   img {
//     width: 30vw !important;
//   }
//   .imgAyurveda {
//     display: none;
//   }
// }

#viewAutoHeight {
  height: auto !important;
}

.goToAyurveda {
  bottom: 20px;
  left: 0;
  right: 0;
}

.jumbotron {
  margin-bottom: 0%;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  p {
    font-size: 3vw;
  }
}
// Small devices (landscape phones, less than 768px)
@media (min-width: 767px) {
  p {
    font-size: 4vw;
  }
}
// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
  p {
    font-size: 3vw;
  }
}
// Large devices (desktops, less than 1200px)
@media (min-width: 990px) {
  p {
    font-size: 2vw;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  p {
    font-size: 1.2vw;
  }
  h2 {
    font-size: 2vw;
  }
  h5 {
    font-size: 1vw;
  }
  a {
    font-size: 0.8vw;
  }
}